# Mindsquare Schach Rating

Hier werden die gängigen Ratings aller Mindsquarianer eingetragen die in der .csv Datei stehen.
Am Ende werden die Spielenden auch nach rRating sortiert.

In [38]:
import pandas as pd
import requests

# CSV einlesen
df = pd.read_csv('ratings.csv')

Bis hier wurden nur Bibliotheken und die CSV der Spielenden geladen 
Jetzt kommt der API-Call an Chess.com. Die Daten werden in einem DataFrame geladen.

In [39]:
def get_chess_ratings(username):
    headers = {
        "User-Agent": "Mozilla/5.0 (compatible; MyChessStatsBot/1.0)"
    }
    url = f'https://api.chess.com/pub/player/{username}/stats'
    try:
        response = requests.get(url, headers=headers, timeout=500)
        response.raise_for_status()
        data = response.json()

        blitz = data.get('chess_blitz', {}).get('last', {}).get('rating')
        rapid = data.get('chess_rapid', {}).get('last', {}).get('rating')
        bullet = data.get('chess_bullet', {}).get('last', {}).get('rating')

        return blitz, rapid, bullet

    except requests.RequestException:
        return None, None, None

# Neue Spalten mit Ratings füllen
df[['Blitz', 'Rapid', 'Bullet']] = df['Username'].apply(
    lambda u: pd.Series(get_chess_ratings(u))
)

df

                  Name          Username   Blitz   Rapid  Bullet
0      JakobPoggemann            J2FFIRE   710.0   911.0   526.0
1   VincentChirinpour     maitrevinceeee   451.0   441.0   470.0
2          LucaEngels              Lud4x  1309.0  1195.0  1373.0
3          MarcFuerup         Ummislavus   470.0   903.0     NaN
4          JanBallnar   GruntVasNormandy   603.0     NaN   652.0
5            EricWeiß           ericwe02  1489.0  1022.0   999.0
6           OmitStein           Creeps00   579.0   750.0   344.0
7       MaximilianJob           mindMaxi     NaN   443.0     NaN
8         StefanTober          stancrown   636.0   782.0   442.0
9     AlexanderTroost         Troostiboy   148.0   539.0   312.0
10         OliverApel           EnteApel     NaN     NaN     NaN
11   PhilippWuestling   Wuestenberserker     NaN     NaN     NaN
12     LukasSchneider             Ls_007     NaN   909.0     NaN
13         MarcelSeer       ElCamino1988     NaN     NaN     NaN
14        EdwinScharf              Yltys   347.0   554.0   178.0
15      SimonGottheil             MS_Gmo     NaN   224.0     NaN

Jetzt folgt nur noch eine Sortierung nach dem höchsten Rating unabhängig von Kategorie

In [40]:
#df['MaxRating'] = df[['Blitz', 'Rapid', 'Bullet']].max(axis=1)
# Spalten in numerische Werte umwandeln (z. B. None → NaN)
df[['Blitz', 'Rapid', 'Bullet']] = df[['Blitz', 'Rapid', 'Bullet']].apply(pd.to_numeric, errors='coerce')

# MaxRating berechnen
df['MaxRating'] = df[['Blitz', 'Rapid', 'Bullet']].max(axis=1)

# Sortieren
df_sorted = df.sort_values(by='MaxRating', ascending=False)

# Ergebnis anzeigen
df_sorted[['Name', 'Username', 'Blitz', 'Rapid', 'Bullet', 'MaxRating']]

                  Name          Username   Blitz   Rapid  Bullet  MaxRating
5            EricWeiß           ericwe02  1489.0  1022.0   999.0     1489.0
2          LucaEngels              Lud4x  1309.0  1195.0  1373.0     1373.0
0      JakobPoggemann            J2FFIRE   710.0   911.0   526.0      911.0
12     LukasSchneider             Ls_007     NaN   909.0     NaN      909.0
3          MarcFuerup         Ummislavus   470.0   903.0     NaN      903.0
8         StefanTober          stancrown   636.0   782.0   442.0      782.0
6           OmitStein           Creeps00   579.0   750.0   344.0      750.0
4          JanBallnar   GruntVasNormandy   603.0     NaN   652.0      652.0
14        EdwinScharf              Yltys   347.0   554.0   178.0      554.0
9     AlexanderTroost         Troostiboy   148.0   539.0   312.0      539.0
1   VincentChirinpour     maitrevinceeee   451.0   441.0   470.0      470.0
7       MaximilianJob           mindMaxi     NaN   443.0     NaN      443.0
15      SimonGottheil             MS_Gmo     NaN   224.0     NaN      224.0
10         OliverApel           EnteApel     NaN     NaN     NaN        NaN
11   PhilippWuestling   Wuestenberserker     NaN     NaN     NaN        NaN
13         MarcelSeer       ElCamino1988     NaN     NaN     NaN        NaN